<footer class="footer">
    POWERED BY &copy;
    <a href="http://Xushd.com">Xushd.com</a>
    ALL RIGHTS RESERVED &nbsp;&nbsp;&nbsp;
    <span>
        <a href="http://www.miitbeian.gov.cn/" target="_blank">123213</a>
    </span>
    <span style="display:none"><a href="">网站统计</a></span>
</footer>